<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Название Амулета"/></h1>
      
      <div class="grid grid-2col">
        <div class="resource">
          <label>{{localize 'HKRPG.Item.Types.charm'}}</label>
          <input type="text" value="{{localize 'HKRPG.Item.Types.charm'}}" disabled/>
        </div>
        <div class="resource">
          <label>{{localize 'HKRPG.Item.Charm.slots'}}</label>
          <input type="number" name="system.slots.value" value="{{system.slots.value}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">{{localize 'HKRPG.Sheet.Tabs.characteristics'}}</a>
    <a class="item" data-tab="description">{{localize 'HKRPG.Sheet.Tabs.biography'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Details Tab --}}
    <div class="tab active" data-group="primary" data-tab="details">
      <div class="grid grid-2col">
        {{!-- Редкость Амулета --}}
        <div class="resource">
          <label>{{localize 'HKRPG.Item.Charm.rarity'}}</label>
          <select name="system.rarity.value">
            {{#select system.rarity.value}}
            <option value="common">{{localize 'HKRPG.Item.Charm.rarities.common'}}</option>
            <option value="uncommon">{{localize 'HKRPG.Item.Charm.rarities.uncommon'}}</option>
            <option value="rare">{{localize 'HKRPG.Item.Charm.rarities.rare'}}</option>
            <option value="unique">{{localize 'HKRPG.Item.Charm.rarities.unique'}}</option>
            <option value="legendary">{{localize 'HKRPG.Item.Charm.rarities.legendary'}}</option>
            <option value="cursed">{{localize 'HKRPG.Item.Charm.rarities.cursed'}}</option>
            <option value="fragile">{{localize 'HKRPG.Item.Charm.rarities.fragile'}}</option>
            {{/select}}
          </select>
        </div>
      </div>
      
      {{!-- Краткое Описание Эффектов --}}
      <div class="resource" style="margin-top: 10px;">
        <label>{{localize 'HKRPG.Item.Charm.description'}}</label>
        <textarea name="system.description.value" data-dtype="String">{{system.description.value}}</textarea>
      </div>
    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="resource">
        <label>{{localize 'HKRPG.Sheet.Sections.notes'}}</label>
        <textarea name="system.description.value" data-dtype="String" style="height: 300px;">{{system.description.value}}</textarea>
      </div>
    </div>

  </section>
</form>
