<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" alt="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Название Пути"/></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label>{{localize 'HKRPG.Item.Path.rank'}}</label>
          <input type="number" name="system.rank.value" value="{{system.rank.value}}" data-dtype="Number" min="1" max="3"/>
        </div>
        <div class="resource">
          <label>{{localize 'HKRPG.Item.Path.type'}}</label>
          <select name="system.type.value">
            {{#select system.type.value}}
            <option value="military">{{localize 'HKRPG.Actor.Paths.military'}}</option>
            <option value="mystic">{{localize 'HKRPG.Actor.Paths.mystic'}}</option>
            {{/select}}
          </select>
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'HKRPG.Sheet.Tabs.biography'}}</a>
    <a class="item" data-tab="abilities">{{localize 'HKRPG.Item.Path.abilities'}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab active" data-group="primary" data-tab="description">
      <div class="resource">
        <label>{{localize 'HKRPG.Item.Path.description'}}</label>
        <textarea name="system.description.value" data-dtype="String" style="height: 300px;">{{system.description.value}}</textarea>
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="abilities">
      <div class="resource">
        <label>Способности Пути</label>
        <textarea name="system.abilities.value" data-dtype="String" style="height: 300px;" placeholder="Перечислите способности через запятую">{{system.abilities.value}}</textarea>
      </div>
    </div>
  </section>
</form>
