<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" alt="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Название черты"/></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label>{{localize 'HKRPG.Item.Trait.hungerCost'}}</label>
          <input type="number" name="system.hungerCost.value" value="{{system.hungerCost.value}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label>{{localize 'HKRPG.Item.Trait.type'}}</label>
          <select name="system.type.value">
            {{#select system.type.value}}
            <option value="general">{{localize 'HKRPG.Item.Trait.types.general'}}</option>
            <option value="characteristic">{{localize 'HKRPG.Item.Trait.types.characteristic'}}</option>
            <option value="mind">{{localize 'HKRPG.Item.Trait.types.mind'}}</option>
            <option value="physiological">{{localize 'HKRPG.Item.Trait.types.physiological'}}</option>
            <option value="sense">{{localize 'HKRPG.Item.Trait.types.sense'}}</option>
            <option value="mystic">{{localize 'HKRPG.Item.Trait.types.mystic'}}</option>
            <option value="body">{{localize 'HKRPG.Item.Trait.types.body'}}</option>
            <option value="movement">{{localize 'HKRPG.Item.Trait.types.movement'}}</option>
            <option value="defense">{{localize 'HKRPG.Item.Trait.types.defense'}}</option>
            {{/select}}
          </select>
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'HKRPG.Sheet.Tabs.biography'}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab active" data-group="primary" data-tab="description">
      <div class="resource">
        <label>{{localize 'HKRPG.Item.Trait.description'}}</label>
        <textarea name="system.description.value" data-dtype="String" style="height: 300px;">{{system.description.value}}</textarea>
      </div>
    </div>
  </section>
</form>
